.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 50px;
}

.popup.hidden {
  display: none;
}

.popup .slider-container {
  margin: 20px 0px;
}

.popup .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popup .rangeslider--horizontal {
  width: 500px;
}

.popup{
  flex: 1;
  background: #87ceeb;
  text-align: right;
  
  /* padding: 0.5em 1em; */
  margin: 3px 3px;
  font-weight: bold;
  /* color: burlywood;文字色 */
  /* background: #FFF; */
  border: solid 3px #1e90ff;/*線*/
  border-radius: 20px;/*角の丸み*/
  font-size: 30px;
}


#popup_top{
  font-size: 20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #0000cd;
  background: #e0ffff;
  border-bottom: solid 4px #0000ff;
  /* border-radius: 15px 15px 0 0; */
  transition: .4s;
  border-radius: 5px;/*角の丸み*/
}

#popup_top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}